.container.text-center

  div(ng-include='"components/navbar/navbar.html"')

  .well
    h2 Welcome to Math Flashcards!
    //- img(src='http://apps.fellowes.com/microsite/IdeaCenter/projects/school/flash-cards/math-addition/preview.png')

  .row
    .col-lg-12
      a.btn.btn-lg.btn-success(ng-href='#/settings') Let's play&nbsp;
        span.glyphicon.glyphicon-ok

  div(ng-include='"components/footer/footer.html"')
