.container.text-center

  div(ng-include='"components/navbar/navbar.html"')

  .well
    h2 Welcome to Math Flashcards!
    //- img(src='http://apps.fellowes.com/microsite/IdeaCenter/projects/school/flash-cards/math-addition/preview.png')

  .row
    .col-lg-12
      a.btn.btn-lg.btn-success(ng-href='#/settings') Let's play&nbsp;
        span.glyphicon.glyphicon-ok

  .footer
    p.text-muted
      span.glyphicon.glyphicon-heart
      | &nbsp; from Greg
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
